* {
  box-sizing: border-box;
}
body {
  margin: 0;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 50px;
}
.game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category span {
  color: red;
}
hr {
  color: #eee;
}
.play-ground {
  display: flex;
  justify-content: space-between;
  height: 300px;
  gap: 10px;
  height: fit-content;
}
.hangman {
  flex: 1;
  display: flex;
  justify-content: center;
}
.hangman-draw {
  width: 60px;
  position: relative;
}
.hangman-draw div:not(.man, .head) {
  background-color: black;
}
.stand {
  width: 5px;
  height: 100%;
  position: relative;
  background-color: transparent !important;
}
.stand::before {
  content: "";
  width: 60px;
  height: 5px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  display: none;
}
.stand::after {
  content: "";
  width: 70px;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 24px;
  left: -7px;
  transform: rotate(-45deg);
  display: none;
}

.hang {
  width: 100px;
  height: 5px;
  position: absolute;
  top: 0;
  display: none;
}
.rope {
  width: 5px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -45px;
  display: none;
}
.man {
  position: absolute;
  top: 35px;
  left: calc(100% + 15px);
}
.head {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid black;
  display: none;
}
.head span {
  font-size: 25px;
}
.body {
  width: 5px;
  height: 80px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: none;
}

.arms {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
}
.arms::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 5px;
  background-color: black;
  transform: rotate(15deg);
  left: 0;
  display: none;
}
.arms::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 5px;
  background-color: black;
  transform: rotate(-15deg);
  right: 0;
  display: none;
}
.legs {
  position: absolute;
  top: 135px;
  left: 50%;
  transform: translate(-50%);
}
.legs::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 5px;
  background-color: black;
  transform: rotate(45deg);
  left: -10px;
  top: calc(100% + 10px);
  display: none;
}
.legs::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 5px;
  background-color: black;
  transform: rotate(-45deg);
  right: -10px;
  top: calc(100% + 10px);
  display: none;
}
.letters {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 500px;
  max-height: 100%;
}

a {
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  background-color: rgb(13, 122, 152);
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}
a.blocked {
  background-color: #999;
  pointer-events: none;
}
.guess-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 104px;
  background-color: #eee;
  margin-top: 10px;
}
.guess-section span {
  height: 50px;
  width: 50px;
  border-bottom: 2px solid black;
  background-color: white;
  margin: 10px;
  display: grid;
  place-items: center;
  font-weight: bold;
}
.guess-section span.space {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  position: relative;
}
.guess-section span.space::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 5px;
  background-color: black;
}

/* Draw Hidden Hangman */
.hangman-draw.wrong-1 .stand::before {
  display: block;
}
.hangman-draw.wrong-2 .stand {
  background-color: black !important;
}
.hangman-draw.wrong-3 .stand::after {
  display: block;
}
.hangman-draw.wrong-4 .hang {
  display: block;
}
.hangman-draw.wrong-5 .rope {
  display: block;
}
.hangman-draw.wrong-6 .head {
  display: block;
}
.hangman-draw.wrong-7 .body {
  display: block;
}
.hangman-draw.wrong-8 .arms::before {
  display: block;
}
.hangman-draw.wrong-9 .arms::after {
  display: block;
}
.hangman-draw.wrong-10 .legs::before {
  display: block;
}
.hangman-draw.wrong-11 .legs::after {
  display: block;
}

@media (max-width: 991px) {
  .container {
    margin: 20px;
  }
  .game-info {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .play-ground {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .hangman {
  }
  .hangman-draw {
    min-height: 250px;
  }
  .letters {
    width: 100%;
  }
  .letters a {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
  .guess-section span {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 375px) {
  .guess-section span {
    width: 35px;
    height: 35px;
  }
}
